@charset "ISO-8859-1";
*{
	margin:0px;
	padding:0px;
}
.container{
	background-image:url(bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	display:grid;
	grid-gap:5px;
	background-color:;
	width:100%;
	height:140vh;
	grid-template-columns: 15% auto 10%;
	grid-template-rows:25vh 90vh 25vh;
}
.container > div{
	background-color: rgba(255, 255, 255, 0.8);
  	text-align: center;
  	padding: 0px 0px;
  	font-size: 18px;
}
.item1{
	grid-column-start:1;
	grid-column-end:4;
}
.item5{
	grid-column-start:1;
	grid-column-end:4;
}
.item3 >img{
	height:100%;
	width:100%;
}
.item2{
	position:relative;
	padding-top:5px;
}
.item2:hover{
	background-color:;
	border-radius:5px;
}
.item2 > ul > li{
	position:relative;
	margin-bottom:18px;
}
.item2 > ul > li > a{
	text-decoration:none;
	color:black;
}
.item2 > ul > li > a:hover{
	
	border-radius:10px;
	font-size:25px;
	transition:1s;
	padding:5px;
	padding:7px 20px 7px 20px;
}
.item2 > ul > li:hover{
	background-color:blue;
	border:1px solid black;
	border-radius:10px;
	transition:0.20s;
	padding:7px 15px 7px 15px;
}
.item4:hover{
	background-color:blue;
	transition:0.08s;
	font-size:25px;
}
.item1 > ul{
	position:relative;
	margin-top:6.1%;
}
.item1 > ul > li{
	display:inline;
	float:right;
	padding:5px 15px 5px 15px;
}
.item1 > ul > li > a{
	text-decoration:none;
	font-size:20px;
}
.item1 > ul > li > a:hover{
	color:black;
	font-size:24px;
	padding:10px 20px 10px 20px;
	transition:1s;
}
.item1 > ul > li:hover{
	border-radius:10px;
	border:1px solid black;
	background-color:blue;
}